<% layout('layouts/app') %>

<section
  class="bg-cover bg-center text-center text-white py-24"
  style="background-image: url('./images/Hero.webp')"
>
  <div class="container mx-auto">
    <h1 class="text-4xl font-bold mb-4">
      Discover the Beauty of Indonesia
    </h1>
    <p class="text-lg mb-6">
      Explore the diverse landscapes, rich culture, and vibrant cities of
      Indonesia.
    </p>
    <a
      href="#explore"
      class="bg-blue-600 text-white px-6 py-3 rounded-md font-semibold text-lg"
      >Explore Now</a
    >
  </div>
</section>

<!-- City Highlight -->
<section id='explore' class="py-10">
  <div class="container mx-auto">
    <h2 class="text-5xl font-bold text-center mb-8">City Highlight</h2>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
      <!-- Destination Card -->
      <div class="destination-card text-center">
        <img
          src="./images/Bali-screen.jpg"
          alt="Bali"
          class="w-full h-48 object-cover rounded-md"
        />
        <h3 class="text-xl font-bold mt-4">Bali</h3>
        <p class="mt-2">
          Explore the island's stunning beaches, lush rice terraces, and
          ancient temples.
          <!-- <span
            ><a
              href="#/detail"
              class="inline-block bg-blue-600 text-white px-1.5 py-0.5 rounded-md ml-3"
              >Learn More</a
            ></span
          > -->
        </p>
      </div>

      <div class="destination-card text-center">
        <img
          src="./images/Jakarta-screen.jpeg"
          alt="Jakarta"
          class="w-full h-48 object-cover rounded-md"
        />
        <h3 class="text-xl font-bold mt-4">Jakarta</h3>
        <p class="mt-2">
          A dynamic mix of modern vibes, rich history, and diverse
          flavors.
        </p>
      </div>

      <div class="destination-card text-center">
        <img
          src="./images/Lombok-screen2.jpg"
          alt="Lombok"
          class="w-full h-48 object-cover rounded-md"
        />
        <h3 class="text-xl font-bold mt-4">Lombok</h3>
        <p class="mt-2">
          Relax on the beautiful beaches and hike the majestic Mount
          Rinjani.
        </p>
      </div>

      <div class="destination-card text-center">
        <img
          src="./images/Malang-screen.webp"
          alt="Lombok"
          class="w-full h-48 object-cover rounded-md"
        />
        <h3 class="text-xl font-bold mt-4">
          <a href="#/detail">Malang</a>
        </h3>
        <p class="mt-2">
          Charming city with cool weather, scenic landscapes, and colorful
          culture.
        </p>
      </div>

      <div class="destination-card text-center">
        <img
          src="./images/Bandung-screen.jpg"
          alt="Lombok"
          class="w-full h-48 object-cover rounded-md"
        />
        <h3 class="text-xl font-bold mt-4">
          <a href="#/detail">Bandung</a>
        </h3>
        <p class="mt-2">
          A stylish city known for its fashion, food, and cool mountain
          air.
        </p>
      </div>

      <div class="destination-card text-center">
        <img
          src="./images/Yogyakarta-screen.webp"
          alt="Lombok"
          class="w-full h-48 object-cover rounded-md"
        />
        <h3 class="text-xl font-bold mt-4">
          <a href="#/detail">Yogyakarta</a>
        </h3>
        <p class="mt-2">
          A city full of history, culture, and stunning ancient
          temples.
        </p>
      </div>
    </div>
  </div>
</section>