<nav class="bg-gray-900 sticky top-0 shadow-md">
  <div class="container mx-auto px-4 py-2 flex items-center justify-between">
    <a class="text-white text-lg font-bold" href="/">BestPoint</a>
    <button
      class="text-white md:hidden focus:outline-none"
      type="button"
      aria-expanded="false"
      aria-controls="navbarNav"
      aria-label="Toggle navigation"
      onclick="document.getElementById('navbarNav').classList.toggle('hidden')"
    >
      <span class="material-icons">menu</span>
    </button>
    <div class="hidden w-full md:flex md:items-center md:w-auto" id="navbarNav">
      <ul class="flex flex-col md:flex-row md:space-x-4">
        <li>
          <a class="text-gray-300 hover:text-white px-2 py-1" href="/">Home</a>
        </li>
        <li>
          <a
            class="text-gray-300 hover:text-white px-2 py-1"
            href="/destinations"
            >Destinations</a
          >
        </li>
        <li>
          <a
            class="text-gray-300 hover:text-white px-2 py-1"
            href="/destinations/create"
            >New Destination</a
          >
        </li>
        <li>
          <a
            class="text-gray-300 hover:text-white px-2 py-1"
            href="/localpreneurs"
            >Localpreneurs</a
          >
        </li>
        <li>
          <a
            class="text-gray-300 hover:text-white px-2 py-1"
            href="/localpreneurs/create"
            >New Localpreneurs</a
          >
        </li>
        <li>
          <a class="text-gray-300 hover:text-white px-2 py-1" href="/events"
            >Events</a
          >
        </li>
        <li>
          <a
            class="text-gray-300 hover:text-white px-2 py-1"
            href="/events/create"
            >New Events</a
          >
        </li>
      </ul>
      <ul class="flex flex-col md:flex-row md:space-x-4 ml-auto mt-4 md:mt-0">
        <% if (!currentUser) { %>
        <li>
          <a class="text-gray-300 hover:text-white px-2 py-1" href="/login"
            >Login</a
          >
        </li>
        <li>
          <a class="text-gray-300 hover:text-white px-2 py-1" href="/register"
            >Registration</a
          >
        </li>
        <% } else { %>
        <li>
          <a
            class="text-gray-300 hover:text-white px-2 py-1"
            href="/logout"
            onclick='
            event.preventDefault();
            document.getElementById("logout-form").submit();
          '
            >Logout</a
          >
          <form
            action="/logout"
            method="POST"
            class="hidden"
            id="logout-form"
          ></form>
        </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
