<% layout('layouts/app') %>  

<h1 class='text-center'>Add Destination</h1>
<div class="col-6 offset-3">
  <form action="/destinations" method="post" class='validated-form' novalidate>
    <div class='mb-3'>
      <label for="name" class='form-label'>Name</label>
      <input type="text" name="destination[name]" id="name" class='form-control' required>
      <div class="valid-feedback">
        Looks good!
      </div>
      <div class="invalid-feedback">
        Please fill out this field.
      </div>
    </div>
    <div class='mb-3'>
      <label for="location" class='form-label'>Location</label>
      <input type="text" name="destination[location]" id="location" class='form-control' required>
      <div class="valid-feedback">
        Looks good!
      </div>
      <div class="invalid-feedback">
        Please fill out this field.
      </div>
    </div>
    <div class='mb-3'>
      <label for="description" class='form-label'>Description</label>
      <textarea name="destination[description]" id="description" class='form-control' required></textarea>
      <div class="valid-feedback">
        Looks good!
      </div>
      <div class="invalid-feedback">
        Please fill out this field.
      </div>
    </div>
    <div class='mb-3'>
      <label for="image" class='form-label'>Image URL</label>
      <input type="text" name="destination[image]" id="image" class='form-control' required>
      <div class="valid-feedback">
        Looks good!
      </div>
      <div class="invalid-feedback">
        Please fill out this field.
      </div>
    </div>
    <div class='mb-3'>
      <label for="phone" class='form-label'>Phone Number</label>
      <input type="text" name="destination[phone]" id="phone" class='form-control' required>
      <div class="valid-feedback">
        Looks good!
      </div>
      <div class="invalid-feedback">
        Please fill out this field.
      </div>
    </div>
    <div class='mb-3'>
      <label for="price" class='form-label'>Price</label>
      <input type="number" name="destination[price]" id="price" class='form-control' required>
      <div class="valid-feedback">
        Looks good!
      </div>
      <div class="invalid-feedback">
        Please fill out this field.
      </div>
    </div>
    <button type="submit" class='btn btn-success'>Save</button>
  </form>
</div>

<script>
  (() => {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  const forms = document.querySelectorAll('.validated-form')

  // Loop over them and prevent submission
  Array.from(forms).forEach(form => {
    form.addEventListener('submit', event => {
      if (!form.checkValidity()) {
        event.preventDefault()
        event.stopPropagation()
      }

      form.classList.add('was-validated')
    }, false)
  })
})()
</script>