<% layout('layouts/app') %>  

<h1>Add Destination</h1>
<form action="/destinations" method="post">
  <div>
    <label for="name">Name</label>
    <input type="text" name="destination[name]" id="name">
  </div>
  <div>
    <label for="location">Location</label>
    <input type="text" name="destination[location]" id="location">
  </div>
  <div>
    <label for="price">Price</label>
    <input type="number" name="destination[price]" id="price">
  </div>
  <button type="submit">Save</button>
</form>
